<h2 data-bind="text: missionCode">…</h2>

<dl class="dl-horizontal">
    <dt class="text-muted">Started</dt>
    <dd class="text-muted" data-bind="text: unlocked().fromNow()">…</dd>
    <!-- ko if: completed -->
    <dt class="text-success">Completed</dt>
    <dd class="text-success" data-bind="text: completed().fromNow()">…</dd>
    <!-- /ko -->
    <dt>Mission</dt>
    <dd><strong data-bind="text: missionText">…</strong></dd>
</dl>

<h3>Mission Reports</h3>

<p data-bind="visible: reports().length < 1">No mission reports have been filed yet.</p>
<div data-bind="foreach: reports">
    <div class="text-muted"><span data-bind="text: created().fromNow()">…</span> from <em data-bind="text: agent().username">…</em></div>
    <p data-bind="markdown: comments, css: { 'text-warning': type() == 2, 'text-success': type() == 1 }">…</p>
</div>

<h4>File Mission Report</h4>

<form class="form-horizontal" data-bind="submit: fileReport">
    <div class="form-group">
        <label for="comments" class="control-label col-sm-1">Report</label>
        <div class="col-sm-11">
            <textarea id="comments" class="form-control" data-bind="value: reportComments" rows="10"></textarea>
            <span class="help-block" data-bind="visible: myMission">Please provide any specifics on the mission and its results.</span>
            <span class="help-block" data-bind="visible: !myMission()">Please report what you thought of the mission and if you consider it a success.</span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-1 col-sm-11">
            <button class="btn btn-primary" data-bind="disable: isFilingReport">Submit</button>
        </div>
    </div>
</form>