<section>
    <h2 data-bind="html: displayName">…</h2>

    <div data-bind="if: !loggedIn()">
        <p>Are you here on <abbr>TDY</abbr>? Please login, if so. Otherwise, you are probably in the wrong place.</p>
    </div>

    <div data-bind="if: loggedIn">
        <p class="alert alert-info">
            Use the search in the navigation bar above to unlock a mission ID or mission secret. You can unlock up to <span data-bind="text: available">…</span>
            mission<span data-bind="visible: available() != 1">s</span> currently.
        </p>

        <h3 data-bind="visible: missions">Current Missions</h3>
        <ul data-bind="foreach: missions">
            <li><a data-bind="attr: {href: detailsPage}">Started <span data-bind="text: unlocked().fromNow()">…</span>: <strong data-bind="text: missionCode">…</strong> for <em data-bind="text: agent">…</em>: <span data-bind="text: missionText">…</span></a></li>
        </ul>
    </div>

    <p><small><a href="http://www.argn.com/2005/04/this_is_not_a_game/">This is <em>almost</em> not a game.</a></small></p>
</section>