<section>
    <h2 data-bind="html: displayName">…</h2>

    <div data-bind="if: !loggedIn()">
        <p>Are you here on <abbr>TDY</abbr>? Please login, if so. Otherwise, you are probably in the wrong place.</p>
    </div>

    <div data-bind="if: loggedIn">
        <div data-bind="if: isBirthday">
            <p class="alert alert-success"><span class="fa fa-2x fa-gift"></span> Happy Birthday!</p>
        </div>

        <p class="text-muted">
            Use the search in the navigation bar above to unlock a mission ID or mission secret. You can unlock up to <span data-bind="text: available">…</span>
            mission<span data-bind="visible: available() != 1">s</span> currently.
        </p>

        <div class="row">
        <div class="col-md-6">
        <h3 data-bind="visible: missions">Current Missions</h3>
        <p data-bind="visible: missions().length < 1">No current missions.</p>
        <div class="list-group" data-bind="foreach: missions">
            <a class="list-group-item" data-bind="attr: { href: detailsPage }">
            <h4 data-bind="text: missionCode">…</h4>
            <div data-bind="text: missionText">…</div>
            <div class="text-muted"><span data-bind="text: unlocked().fromNow()">…</span></div>
            </a>
        </div>
        </div>

        <div class="col-md-6">
        <h3 data-bind="visible: reports">Recent Reports on your Missions</h3>
        <p data-bind="visible: reports().length < 1">No recent reports.</p>
        <div class="list-group" data-bind="foreach: reports">
            <a class="list-group-item" data-bind="attr: { href: detailsPage }">
            <h4 data-bind="text: missionCode">…</h4>
            <div>Report from <span data-bind="text: agent().username">…</span></div>
            <div class="text-muted"><span data-bind="text: created().fromNow()">…</span></div>
            </a>
        </div>
        </div>
        </div>
    </div>

    <p><small><a href="http://www.argn.com/2005/04/this_is_not_a_game/">This is <em>almost</em> not a game.</a></small></p>
</section>